################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtisCraft/.vs/ArtisCraft/v15
/Bin/

# Compiled source #
###################
*.com
*.class
*.exe
*.o
*.so
/.vs
/ArtisCraft/Source/GameStates/BaseState.h
/ArtisCraft/.vs/ArtisCraft/v16
