################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtisCraft/.vs/ArtisCraft/v15
/Bin/